:root {
	width: 100dvw;
	height: 100dvh;
	font-size: calc(40vw / 9);
	font-family: Helvetica, sans-serif;
	color: #000;
}

@media screen and (max-width: 315px) {
	:root {
		font-size: 14px;
	}
}

body {
	/*height: inherit;*/
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	overflow: hidden;
}

header {
	padding: 0.4em;
	border-bottom: 0.2rem solid;
	background: #ccf;
}

main {
	padding: 0.6em 1em;
	flex: 1;
	overflow-y: auto;
	text-align: justify;
	line-height: 1.6;
}

footer {
	padding: 0.4em;
	border-top: 0.2rem solid;
	background: #ccf;
}

@media print {
	:root {
		font-family: Century, serif;
	}
}
